{% extends 'base.j2' %}

{% block title %}Index{% endblock %}
{% block content %}
<h2>Actions</h2>
<ul>
    <li><a href="{{ url_for('index') }}">Index</a></li>
    <li><a href="{{ url_for('create_tables') }}">create tables</a></li>
    <li><a href="{{ url_for('items.index') }}">items</a></li>
</ul>
{% endblock content %}
