<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Message</h1>
<pre>{{ message }}</pre>
<h1>Actions</h1>
<ul>
    <li><a href="{{ url_for('index') }}">Index</a></li>
    <li><a href="{{ url_for('intext') }}">Test</a></li>
</ul>
</body>
</html>
