{% macro form_field(field) %}
{{ field.label() }}
{{ field(**kwargs) }}
{%- for error in field.errors %}<span class="error">{{ error }}</span>{%- endfor %}
{% if field.description %}<span class="help-block">{{ field.description|safe }}</span>{% endif %}
{% endmacro %}
