{% extends 'base.j2' %}
{% from "macros/item_link.j2" import item_link %}
{% block title %}Item Detail{% endblock %}
{% block content %}
    {%- if item %}
    <h2>Item detail</h2>
    <ul>
        <li>ID: <code>{{ item.id }}</code></li>
        <li>Content: <code>{{ item.content }}</code></li>
        <li>Created: <code>{{ item.created_timestamp }}</code></li>
        <li>Modified: <code>{{ item.modified_timestamp }}</code></li>
        <li>Status: <code>{{ item.status }}</code></li>
        {%- if groups %}
            <li>Member of:
            {% for group in groups %}
                {{ item_link(group) -}}
                {% if loop.last != True %},  {% endif %}
            {% endfor %}
            </li>
        {% endif %}
        {% if members %}
            <li>Members:
            {% for member in members %}
                {{ item_link(member) -}}
                {% if loop.last != True %},  {% endif %}
            {% endfor %}
            </li>
        {%- endif %}
    </ul>
    {% else %}
        <p>No item found with that ID.</p>
    {% endif %}
    <ul>
        {%- if item %}
            <a href="{{ url_for('items.edit', item_id=item.id) }}">Edit item</a>
            <!--fixme: I want this to test against Item.STATUS_DELETED instead of a hardcoded int-->
            {%- if item.status == 1 %}
                <form action="{{ url_for('items.restore', item_id=item.id) }}" method="post">
                    <button type="submit">Restore item</button>
                </form>
            {%- else %}
                <a href="{{ url_for('items.delete', item_id=item.id) }}">Delete item</a>
            {%- endif %}
        {%- endif %}
        <a href="{{ url_for('items.index') }}">Back to item index</a>
    </ul>
{% endblock content %}
