{% extends "base.j2" %}
{% from "macros/form_field.j2" import form_field %}
{% block title %}Edit item{% endblock %}
{% block content %}
    <form action="{{ url_for('items.edit', item_id=item.id) }}" method="post">
        {% for field in form %}
            {{ form_field(field) }}
        {% endfor %}
        <button type="submit">Save changes</button>
        <a href="{{ url_for('items.detail', item_id=item.id) }}">Cancel</a>
    </form>
{% endblock content %}
