{% extends 'base.j2' %}
{% block title %}Items{% endblock %}
{% block content %}
    <h2>Items</h2>
    <ul>
    {% for item in items %}
        <li><a href="{{ url_for('items.item_detail', item_id=item.id) }}">{{ item.content }}</a></li>
    {% endfor %}
    </ul>

    <hr />
    <ul>
        <li><a href="{{ url_for('items.add') }}">Add item</a></li>
        <li><a href="{{ url_for('index') }}">Back to index</a></li>
    </ul>
{% endblock content %}
